################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/P1080 [NOIP 2012 提高组] 国王游戏/P1080 [N.a6da7bd8/x64/Debug
